{% extends 'layouts/two_pane.html' %}
{% load bootstrap4 %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h2>Register new site</h2>
</div>
<div>
  <form method="POST">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% bootstrap_button 'Register' 'submit' %}
  </form>
</div>
{% endblock %}
