{% extends 'layouts/two_pane.html' %}
{% load bootstrap4 %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h2>Site detail</h2>
</div>
<div>
  {{ site.url }}
</div>
{% endblock %}
