{% extends 'layouts/single_page.html' %}

{% block content_section %}
<section class="jumbotron text-center">
  <div class="container">
    <h2 class="jumbotron-heading">Registration</h2>
  </div>
</section>
{% endblock %}

{% block content %}
{# Original: https://github.com/yourcelf/django-registration-defaults/blob/master/registration_defaults/templates/registration/activation_complete.html #}
Thanks, activation complete!  You may now <a href='{% url 'login' %}'>login</a> using the username and password you set at registration.
{% endblock %}
