{% extends 'layouts/single_page.html' %}
{% load bootstrap4 %}

{% block content_section %}
<section class="jumbotron text-center">
  <div class="container">
    <h2 class="jumbotron-heading">Log in</h2>
  </div>
</section>
{% endblock %}

{% block content %}
<form method="POST">
{% csrf_token %}
{% bootstrap_form form %}
{% bootstrap_button 'Log in' 'submit' %}
</form>

{% endblock %}
