{% extends 'layouts/single_page.html' %}

{% block content_section %}
<section class="jumbotron text-center">
  <div class="container">
    <h2 class="jumbotron-heading">Registration</h2>
  </div>
</section>
{% endblock %}

{% block content %}
Thank you for registration. Please activate from email.
{% endblock %}
