{% extends 'layouts/single_page.html' %}

{% block content_section %}
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Yagura</h1>
      <p class="lead text-muted">Simple website monitoring</p> 
      <p>
        <a href="{% url 'login' %}" class="btn btn-primary my-2">Log in</a>
        or
        <a href="{% url 'registration_register' %}" class="my-2">Registration</a>
      </p>
    </div>
  </section>
{% endblock %}

{% block content %}
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-8">
	</div>
      </div>
    </div>
  </div>
{% endblock %}
